---
layout: base.njk
title: Minimalist Apps
---
<h1>Minimalist Apps</h1>

<p>
          We are husband and wife, we are here to make mobile apps to share with everyone.
          My husband with long years of experience in mobile development and I am a freelance writer.
          Childbearing soon after marriage, and a busy life makes us understand the meaning of simple but productive things.
          That is the reason for <b>
    <i>/minimalist/ - less is more</i>
  </b> born.
        </p>
<p>
          We are trying to create app products that save your time, optimize your work processes and also reduce your expenses.
          Hope you will enjoy our apps.
          If you have any feedback, don't hesitate to contact us.
        </p>
<p>
          Email: <a href="mailto:imuosdev@gmail.com">imuosdev@gmail.com</a>
</p>
<hr data-content=" Our Apps "/>
<ul>
  {% for app in apps %}
    <li>{{ app.name }}</li>
    <ul>
      <li>{{ app.description }}</li>
      <li>
        <span>Download</span>
        <a href='https://play.google.com/store/apps/details?id=xyz.minimalistapps.smartcsv'>Android</a>
        <a href='https://apps.apple.com/us/app/smart-csv-viewer-smart-tables/id1611962123'>iOS</a>
      </li>
    </ul>
  {% endfor %}
</ul>
