---
layout: base.njk
title: Minimalist Apps
---
<h1>Minimalist Apps</h1>

<p>
  As a husband-wife duo, we craft mobile apps for all to enjoy.
  With his extensive mobile development background and my freelance writing expertise, 
  we're a unique blend. Early parenthood and a bustling life taught us the value of
  simplicity and productivity – the inspiration behind our minimalist approach.  
</p>
<p>
  Our mission? Crafting apps that streamline tasks, enhance efficiency, and cut costs.
  We hope you relish our offerings. Your feedback matters, so reach out anytime.
</p>
<p>
          Email: <a href="mailto:imuosdev@gmail.com">imuosdev@gmail.com</a>
</p>
<hr data-content=" Our Apps "/>
{% for app in apps %}
  <h2>{{ app.name }}</h2>
  <details>
    <summary>{{ app.summary }}</summary>
    {% for msg in app.description %}
      <div>
        {{ msg }}
      </div>
    {% endfor %}
  </details>
  <p>
    <span>Download</span>
    {% if app.android %}
      <a href='{{ app.android }}'>Android</a>
    {% endif %}

    {% if app.ios %}
      <a href='{{ app.ios }}'>iOS</a>
    {% endif %}
  </p>
{% endfor %}
