<div style="padding:3px;text-align:center;">
  <small>Copyright {{ info.current_year }} Minimalist Apps</small>
  <a href="/privacy-policy">Privacy Policy</a>
  <a href="/term-of-use">Term Of Use</a>
</div>
