---
title: Minimalist Apps
has_footer: true
---

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">

    <title>{{ title }}</title>
    <meta name="author" content="Minimalist Apps">
    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ info.description }}">
    <meta name="generator" content="eleventy">

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ info.url }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ info.description }}">
    <meta property="og:image" content="{{ info.image_url }}">
    <meta property="og:image:alt" content="Minimalist Apps">

    <link rel="stylesheet" href="/bundle.css">
  </head>
  <body a="auto">
    <main class="page-content" aria-label="Content">
      <div class="w">
        {{ content | safe }}
        {% if has_footer %}
          <hr/>
          {% include "_footer.njk" %}
        {% endif %}
      </div>
    </main>
  </body>
</html>
